// html {
//   background: black;
// }

$orange: rgb(255, 133, 62);
$grayblue: rgb(34, 52, 73);

body * {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  background: $grayblue;
  padding-right: 3%;
  height: 8vh;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin: 0;

    li {
      padding-right: 2em;
      padding-left: 1em;
    }
  }
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0 2%;

  a {
    text-decoration: none;
    color: $orange;
    font-size: 20px;
  }
}

header {
  display: flex;
  width: 100vw;
  background: $grayblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

footer {
  background: $orange;
  color: rgb(34, 52, 73);
  height: 10vh;

  h1 {
    margin-bottom: 0;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.home {

  &__hero {
    background-image: url("https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2947e07204f39c53306ba5c303d689c7&auto=format&fit=crop&w=2250&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    h1 {
      margin-top: 0;
    }
  }
}

.contact {
  background: rgb(162, 156, 147);
  height: 45vh;
  width: 18vw;
  position: absolute;
  right: 0;
  transition: all 400ms;
  border-radius: 0 0 0 .4em;

  h1 {
    margin: 0;
    color: rgb(38, 80, 73);
    text-align: center;
    margin-top: .4em;
  }

  p {
    margin: 0;
    color: rgb(38, 80, 73);
    font-size: 20px;
    padding: .5em;
  }
}

.home__hero {
  color: white;
}

//HELP from Scott
.app-name {
  text-align: left;
  margin: 0;
  display: inline-block;
}

.blog-container {
 height: 28vh;
  width: 90vw;
  border: solid .2em #ddd ;
  margin: 2em auto;
  background: rgb(207, 174, 137);
  color: white;
  padding: 2em;
}


//TEEEEESSSSTTTTT


.sticky{
  width: 100px;
  text-align: center;
  color: #135858;
  font-size: 25px;
  background: #f0f0f0;
  line-height: 250px;
}

.wrap{
  display: flex;
  align-items: stretch;
  width: 90%;
}

.wrap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: purple;
  height: 80vh;
  width: 100vw;
}

.scroller {
  flex: 1;
  overflow: hidden;
}

.items {
  padding-inline-start: 0;
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  transition: transform 1s ease-in-out;
}

.item {
  padding: 30px 20px;
  display: inline-block;
  width: 100%;
  height: 250px;
  font-size: 25px;
  letter-spacing: -0.03em;
  line-height: 1;
  font-weight: bold;
  background-size: cover;
  background-position: 50% 50%;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}

.signup-form {
  display: flex;
  align-items: center;
  background: #f4a460;
  height: 30vh;
  width: 100vw;
}

.login-form {
  display: flex;
  align-items: center;
  background: lightblue;
  height: 30vh;
  width: 100vw;
}
