// html {
//   background: black;
// }

nav {
  display: flex;
  justify-content: flex-end;
  background: rgb(29, 24, 89);
  padding-right: 3%;
  height: 6vh;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin: 0;
  }
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  background: lightblue;
  padding: 0 2%;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}

footer {
  background: black;
  color: white;
  height: 10vh;

  h1 {
    margin-bottom: 0;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.home {

  &__hero {
    background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10794df94c2543bee8f590b3681452c7&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    h1 {
      margin-top: 0;
    }
  }
}

.contact {
  background: rgb(231, 189, 130);
  height: 45vh;
  width: 15vw;
  position: absolute;
  right: 0;
  transition: all 400ms;

  p {
    margin: 0;
    color: rgb(38, 80, 73);
    font-size: 24px;
  }
}
