// html {
//   background: black;
// }
$orange: rgb(255, 133, 62);
$grayblue: rgb(34, 52, 73);

body * {
  box-sizing: border-box;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  background: $grayblue;
  padding-right: 3%;
  height: 8vh;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin: 0;
  }
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0 2%;

  a {
    text-decoration: none;
    color: $orange;
    font-size: 20px;
  }
}

header {
  display: flex;
  width: 100vw;
  background: $grayblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

footer {
  background: $orange;
  color: rgb(34, 52, 73);
  height: 10vh;

  h1 {
    margin-bottom: 0;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.home {

  &__hero {
    background-image: url("https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2947e07204f39c53306ba5c303d689c7&auto=format&fit=crop&w=2250&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    h1 {
      margin-top: 0;
    }
  }
}

.contact {
  background: rgb(231, 189, 130);
  height: 45vh;
  width: 15vw;
  position: absolute;
  right: 0;
  transition: all 400ms;

  p {
    margin: 0;
    color: rgb(38, 80, 73);
    font-size: 24px;
  }
}

.home__hero {
  color: white;
}

//HELP from Scott
.app-name {
  text-align: left;
  margin: 0;
  display: inline-block;
}
